extends layout.pug

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2 Organizations
            div.col-lg-12.margin-top
                a(href="/organizations/create") Create Organization
            if items
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr: th Name
                                    if account.role == 'super'
                                        th Owner
                                    th Actions
                            tbody
                                each item, i in items
                                    tr
                                        td #{item.name}
                                        if account.role == 'super'
                                            td #{item.owner}
                                        td
                                            a(href='/organizations/edit/' + item.id) Edit
                                            |&nbsp;|&nbsp;
                                            a(onclick='doConfirmDelete('+ item.id+'); return false;' style='cursor:pointer') Delete
                                            if account.role == 'admin'
                                                | &nbsp;|&nbsp;
                                                a(style='cursor:pointer') Tarifs


                script(type='text/javascript').
                    function doConfirmDelete(id) {
                        bootbox.confirm({
                            message: "Delete organization?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    var xhr = new XMLHttpRequest();
                                    var url = '/organizations/delete/'+id;
                                    xhr.open('DELETE', url, true);
                                    xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE');
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState == XMLHttpRequest.DONE) {
                                            location.reload();
                                        }
                                    }
                                    xhr.send();
                                }
                            }
                        });
                    }

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
