extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2 Users
            if account.role != 'cashier'
                div.col-lg-12.margin-top
                    a(href="/users/create") Create User
            if items
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr: th Name
                                    th Email
                                    th Role
                                    th Actions
                            tbody
                                each item, i in items
                                    tr
                                        td #{item.name+' '+item.last}
                                        td #{item.email}
                                        td #{item.role}
                                        td
                                            a(href='/users/edit/' + item.id) Edit
                                            |&nbsp;|&nbsp;
                                            a(onclick='doConfirmDelete('+ item.id+'); return false;' style='cursor:pointer') Delete
                                            if account.role == 'super'
                                                | &nbsp;|&nbsp;
                                                a(href='/organizations/owner/' + item.id) User Organizations


                script(type='text/javascript').
                    function doConfirmDelete(id) {
                        bootbox.confirm({
                            message: "Delete user?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    var xhr = new XMLHttpRequest();
                                    var url = '/users/delete/'+id;
                                    xhr.open('DELETE', url, true);
                                    xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE');
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState == XMLHttpRequest.DONE) {
                                            location.reload();
                                        }
                                    }
                                    xhr.send();
                                }
                            }
                        });
                    }

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
