extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2 Cards
            if items && items.length
                if account.role == 'admin' && transh
                    div.col-lg-12.margin-top
                        if transh
                            a(href='/organizations/' + oid + '/tariffs/' + tariff.id + '/transhes/' + transh + '/cards/tocsv') Export to CSV
                        else
                            a(href='/organizations/' + oid + '/tariffs/' + tariff.id + '/cards/tocsv') Export to CSV

                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr: th Id
                                    th QR Code
                                    th NFS Code
                                    th M Code
                                    th Card Number
                                    th Transh Number
                                    th Card Type
                                    th Service Type
                                    th Card status
                                    th Life time
                                    th Service time
                                    th Test Mark

                            tbody
                                each item, i in items
                                    tr
                                        td #{item.cid}
                                        td #{item.qr_code}
                                        td #{item.nfs_code}
                                        td #{item.m_code}
                                        td #{item.card_nb}
                                        td #{item.transh}
                                        td #{item.type}
                                        td #{item.service}
                                        td #{item.status}
                                        td #{item.lifetime}
                                        td #{item.servicetime}
                                        td #{item.test}
                                            |&nbsp;
                                            a(onclick='doToggle('+oid+','+tariff.id+','+item.cid+'); return false;' style='cursor:pointer') Toggle
                if account.role == 'admin' && transh
                    div.col-lg-12.margin-top
                        form(action='/organizations/'+oid+'/tariffs/'+tariff.id+'/transhes/'+transh+'/cards/fromcsv', enctype='multipart/form-data', method='post')
                            input(type='file', name='file', accept='.csv')
                            button.btn.btn-default(type='submit') Import From CSV

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
        script(type='text/javascript').
            function doToggle(oid, tid, id) {
                var xhr = new XMLHttpRequest();
                var url = '/organizations/'+oid+'/tariffs/'+tid+'/cards/'+id+'/mark';
                xhr.open('PUT', url, true);
                xhr.setRequestHeader('X-HTTP-Method-Override', 'PUT');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        location.reload();
                    }
                }
                xhr.send();
            }