extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2 Tariffs
            if account.role == 'admin'
                div.col-lg-12.margin-top
                    a(href="/organizations/"+oid+"/tariffs/create") Create Tariff
            if items
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr: th Name
                                    th Period
                                    th Discount
                                    th Actions
                            tbody
                                each item, i in items
                                    tr
                                        td #{item.name}
                                        td #{moment(item.start).format("YYYY/MM/DD") + ' - '+moment(item.end).format("YYYY/MM/DD")}
                                        td #{item.discount}
                                        td
                                            a(href='/organizations/'+oid+'/tariffs/'+item.id+'/edit') Edit
                                            |&nbsp;|&nbsp;
                                            a(onclick='doConfirmDelete('+ item.id+', "'+item.name+'", '+oid+'); return false;' style='cursor:pointer') Delete
                                            |&nbsp;|&nbsp;
                                            a(href='/organizations/' + oid + '/tariffs/' + item.id + '/cards') List Cards
                                            | &nbsp;|&nbsp;
                                            a(href='/organizations/'+oid+'/tariffs/'+item.id+'/transhes') Transhes


                script(type='text/javascript').
                    function doConfirmDelete(id, name, oid) {
                        bootbox.confirm({
                            message: "Delete tariff \""+name+"\"?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    var xhr = new XMLHttpRequest();
                                    var url = '/organizations/'+oid+'/tariffs/'+id+'/delete';
                                    xhr.open('DELETE', url, true);
                                    xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE');
                                    xhr.onreadystatechange = function () {
                                        if (xhr.readyState == XMLHttpRequest.DONE) {
                                            location.reload();
                                        }
                                    }
                                    xhr.send();
                                }
                            }
                        });
                    }

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
