extends ../layout

block content

    div.container

        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                h2 Create Transh for #{tariff.name}
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                form(method='post' action='/organizations/'+tariff.organization+'/tariffs/'+tariff.id+'/transhes/create')
                    input#tid(type='hidden', name='tid', value=tariff.id)
                    input#oid(type='hidden', name='oid', value=tariff.organization)
                    input#owner(type='hidden', name='owner', value=account.id)
                    input#discount(type='hidden', name='discount', value=tariff.discount)
                    input#type(type='hidden', name='type', value=tariff.type)
                    .form-group
                        label(for='count') Cards count
                        input#count.form-control(type='number', name='count', placeholder='Cards count' value='')
                    .form-group
                        label(for='pass') Pass
                        select#pass.form-control.selectpicker(name="pass" type="select" )
                            each pass in passes
                                option(value=pass.code selected=pass.code == '0' data-tokens=pass.code) #{pass.name}
                    .form-group
                        label(for='status') Card Status
                        select#status.form-control.selectpicker(name="status" type="select" )
                            each status in statuses
                                option(value=status.code selected=status.code=='published' data-tokens=status.code) #{status.name}
                    .form-group
                        label(for='lifetime') Life Time
                        input#lifetime.form-control(type='number', name='lifetime', placeholder='Life Time' value='')
                    .form-group
                        label(for='servicetime') Service Time
                        input#servicetime.form-control(type='number', name='servicetime', placeholder='Service Time' value='')

                    button.btn.btn-default(type='submit') Generate

            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                if errors
                    ul.error
                        for error in errors
                            li!= error.msg
                if success
                    p #{success.msg}